html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    margin: 0;
    height: 3500px;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #0D65FA;
    background-image: linear-gradient(120deg, #e65400d5 , #00acb8e7, #007F9A);
}
header {
  overflow: hidden;
}
p {
  color: white;
}
.logo {
  cursor: pointer;
  width: 10%;
  height: 70%;
  float: left;
  margin-top: 1%;
}

div {
    width: auto;
}
nav {
  margin-left:9.1%;
  margin-right: 8.85%;
}
 .navbar {
    background-image: linear-gradient(to right, #0d50c4, #10a8b9, #1ec577);
    list-style-type: none;
    overflow: visible;
position:absolute;
    margin-top: 5%;
    border: 1px solid white;
    border-radius: 30px;
    padding-left: 1%;
    padding-right: 1%;
    font-family: "Open Sans Semibold";
    font-size: 0.9vw;
    z-index : 10000;
    height: 8%;
    display: inline-block;
    width: 80%;
}

.navbar .active {
  background-image: linear-gradient(100deg, #0D65FA 1%,#0DA2CE 50%, #0dfb8c );
  border-radius:20px;
  background-repeat: no-repeat;
  margin-top: 1.2%;
  background-position: center;
  background-size: 100% 100%;
  padding: 5px 15px 5px 15px;
}

  .navbar a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    float: left;
    margin-left:2%;
    margin-right:2%;
    margin-top: 1.2%;
    background-size: 100% 100%;
    padding: 5px 15px 5px 15px;
    border-radius:20px;
  }

  .navbar a.def:hover {
    text-shadow:  0px 0 20px rgba(255, 255, 255, 0.842);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    text-align: center;
    text-decoration: none;
    float: left;
    margin-left:2%;
    margin-right:2%;
    margin-top: 1.2%;
    background-size: 100% 100%;
    padding: 5px 15px 5px 15px;
  }
 
.dropdown {
    float: left;
    overflow: hidden;
    margin-top: 1.1%;
    padding-right: 0.3%;
  }
  .dropdown:hover .dropdown-content, .dropdown:hover .dropdown-content1{
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s;
  }

  .arrow-down {
    display:inline-block;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid rgba(218, 218, 218, 0.521);
    position: absolute;
    margin-top: 0.7%;
    margin-left: 0.5%;
  }

  .dropdown:hover .arrow-down {
    display:inline-block;
    width: 0; 
    height: 0; 
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid white;
    vertical-align: middle;
    margin-top: 0.7%;
    margin-left: 0.5%;
  }

  
  .dropdown-content {
    background-image: linear-gradient(to right, #ffffff3b, #8080800c);
    width: 10%;
    z-index: 1;
    left: 19%;
    content: "";
    height: 0; 
    position: absolute;
    color: white;
    transition-delay: 1s;
    position: absolute;
    top: 130%;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity, visibility;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;
    }

    .second {
      left: 37.5%;
    }
  
.dropdown-content a {
    float: none;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    text-align: center;
    border: 1px solid white;
    margin: 0;
  }

.dropdown-content a:first-child{
    border-radius: 20px 20px 0 0;
  }

.dropdown-content a:last-child{
    border-radius: 0 0 20px 20px;
  }
  
.dropdown-content:before{
    border-bottom: 11px solid rgb(255, 255, 255);
    border-left: 11px solid rgba(255, 255, 255, 0);
    border-right: 11px solid rgba(255, 255, 255, 0);
    content: "";
    display: inline-block;
    position: absolute;
    left: 100%;
    margin-left: -57%;
    top: -11px;
}

.dropdown-content:after {
    border-bottom: 11px solid linear-gradient(to right, #ffffff3b, #8080800c);
    border-left: 11px solid rgba(0, 0, 0, 0);
    border-right: 11px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    left: 100%;
    margin-left: -59%;
    top: -10px;
}

.dropdown .dropdown-content a:hover {
    text-shadow:  0px 0 20px rgba(255, 255, 255, 0.842);
  }

.dropdown:hover .dropdown-content {
    display: block;
  }
#register {
  position: absolute;
  margin-left: 88%;
}

.dates {
  position: absolute;
  background: url(images/date1.svg);
  display: inline-block;
  height: 100%;
  color: white;
  margin-left: 1%;
  background-repeat: no-repeat;
   transition: 0s;
  background-size: 100% 100%;

  animation-name: slide;
  animation-direction: alternate;
  animation-duration: 20s;
  animation-fill-mode: normal;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;

}
@keyframes slide{
0%{
    background-image: url(/images/ddate2.svg);
    background-size: 100% 100%;
    width: 20%;
  }
  25%{
    background-image: url(/images/ddate3.svg);
    background-size: 100% 100%;width: 20%;
  }
  50%{
    background-image: url(/images/ddate4.svg);
    background-size: 100% 100%;width: 20%;
  }
  75%{
    background-image: url(/images/ddate5.svg);
    background-size: 100% 100%;width: 20%;
  }
  100%{
    background-image: url(/images/ddate1.svg);
    background-size: 100% 100%;width: 20%;
  }
}

  .datelist {
    position:absolute;
    width: 20%;
    height: 90%;
    color: white;
    margin-top: 0.3%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;
    left: 55%;
  }

  .datelist a {
    width: 66.5%;
    display: inline-block;
    margin-top: 3.8%;
    margin-left: 24%;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;
  }
  .important:hover .datelist,.important:hover a {
    display: inline-block;
    opacity: 1;
    transition-property: opacity, visibility;
    transition-duration: .4s, 0s;
    transition-delay: 0s, 0.4s;
    visibility: visible;
    
  }

  .datelist img {
    width: 100%;
    height: 100%;
    margin-top: 5%;
    opacity: 0;
    z-index: 1000;
    margin-left: 13%;
    visibility: hidden;
  }

  .dlist {
      margin-top: 25%;
  }

  .important:hover .dates{
    opacity: 0;
    position: absolute;
    background: none;
    display: inline-block;
    color: white;
    animation-name: none;
    transition-property: opacity,visibility;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;
  }
  .important:hover .datelist {
    opacity: 1;
    transition-delay: 0s, 0s;
    visibility: visible;
    
}
  .important:hover .datelist a{
    display: inline-block;
    margin-top: 3.8%;
    margin-left: 24%;
    opacity: 1;
    transition-property: opacity;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;
    visibility: visible;
    width: 70%;
   }

  .important:hover .datelist img{
    display: inline-block;
    opacity: 1;
    transition-property: opacity;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;
    visibility: visible;
  }

  .dlist img:hover{
    box-shadow:  0px 0 20px rgba(255, 255, 255, 0.473);
    border-radius: 15px;
  }

  .banner{
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur( 40px );
    -webkit-backdrop-filter: blur( 40px );
    border: 1px solid white;
    height: 18%;
    margin-left:9.1%;
    margin-right: 8.85%;
    margin-top: 5%;
    border-radius: 25px;
    }

    footer{
        margin-top: 10%;
        height: 21.5%;
        margin-left:9.1%;
        margin-right: 8.85%;
      }
  
      .footerr{
        height: 65%;
        margin: 0;
        margin-top: 15%;
      }

      div.footer p, .footer a{
        font-family: "Open Sans Semibold";
        color: white;
        line-height: 100%;
        font-size: 1vw;
        text-decoration: none;
        text-align: left;
        margin: 0%;
        margin-bottom: 12.5%;
        }
      
        .title {
          font-size: "Open Sans";
          color: white;
          font-weight: normal;
          margin-bottom: 12.5%;
        }
      
        .homey{
          position: absolute;
          left: 5%;
          top: 10%;
        }
        .homey p, .homey .title{
          width: 100%;

          margin: 0%;
          margin-bottom: 10.5%;
        }
      
        .work {
          position: absolute;
          left: 25%;
          top: 10%;
        }
      
        .imp {
          position: absolute;
          left: 45%;
          top: 10%;
        }
      
        .sub {
          position: absolute;
          left: 65%;
          top: 10%;
        }
      
        .con {
          position: absolute;
          left: 83%;
          top: 10%;
          right: 5%;
          }
          img {
            margin-left: 0;
            margin-top: 10%;
          }
      
        #fb {
          width: 8%;
          margin-right: 10%;
        }
      
        #twt {
          width: 16%;
        }
      
        .reg {
          position: absolute;
          left: 5%;
          margin-top: 23%;
        }
      
        hr {
          border: 0.6px solid rgba(255, 255, 255, 0.733);
          margin-left: 5%;
          margin-right: 5%;
          margin-top: 33%;
        }
      
        #creds{
          font-size: 0.8vw;
          text-align: center;
          margin-top: 2.5%;
          margin-bottom: 5%;
        }

        h2 {
          font-family: "Source Code Pro";
          font-weight: bold;
          font-size: 3.5vw;
          color: white;
          text-align: center;
          margin-top: 18%;
      }

table {
  color: white;
  font-family: "Open Sans";
  font-weight: bold;
  width: 53%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  border-collapse: separate;
}
#tabletitle {
  font-family: "Source Code Pro";
  text-align: left;
  margin-left: 2%;
  font-size: 1.5vw;
  font-weight: bold;
}
#tabletitle th{
  padding-left: 2%;
}
.rate {
  padding-top: 3%;
  padding-bottom: 3%;
  margin:0%;
  display: block;
  padding-left: 7%;
}
tr,td {
  width: 20%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
}
      tr h3 {
        font-size: 3.5vw;
        margin-top:-3%;
        padding-bottom: 9%;
        padding-left: 2%;
        margin-bottom: 0%;
      }
      tr h5 {
        font-size: 1.3vw;
        margin-bottom: 0%;
        padding-left: 2%;
      }

p{ 
  font-family: "Open Sans";
  font-size: 0.9vw;
  margin-left: auto;
  margin-right: auto;
  width: 53%;
  margin-top: 5%;
  line-height: 200%;
}
.account{
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  font-family: "Source Code Pro";
  font-weight: 200;
  color: white;
  font-size: 1.3vw;
  margin-top: 8%;
  text-align: center;
}
.acc {
  margin-left: auto;
  margin-right: auto;
  width: 53%;
  padding: 5%;
}
#bank {
  text-align: left;
  margin: 0%;
}
.acc h3 {
  font-size: 2vw;
  margin-top: 17%;
}
.acc img {
  float: right;
  margin-top: -6%;
  width: 20%;
}
#NU {
  text-align: left;
  margin: 0%;
  margin-top: 20%;
}
#top {
  display: flex;
  width: 100%;
}
#topcode {
  text-align: right;
}
#note {
  font-family: "Source Code Pro";
  font-weight: bold;
  font-size: 1.5vw;
  color: white;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 53%;
  margin-top: 5%;
  line-height: 200%;
  margin-bottom: 0%;
}
#last {
  margin-top: 0%;
  width: 53%;
}

.menunav {
  visibility: hidden;
  overflow: visible;
  position:absolute;
  z-index : 10000;
  top: 13%;
  width: 81.9%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 10%;
  background-image: linear-gradient(to right, #0d50c4, #10a8b9, #1ec577);
  list-style-type: none;
  border: 1px solid white;
}
 #menu {
visibility: hidden;
opacity: 0;
width: 3%;
height: 70%;
float: right;
margin-top: 0.9%;
padding-right:5%;
display: none;
cursor: pointer;
}
 
#menu1 {
visibility: hidden;
width: 2%;
height: 70%;
float: right;
margin-top: 0.7%;
padding-right: 0%;
cursor: pointer;
}
#dropmenu {
background-image: linear-gradient(to right, #0d50c417, #10a8b96c, #1ec57731);
  backdrop-filter: blur( 40px );
  -webkit-backdrop-filter: blur( 40px );
  visibility: hidden;
  overflow: visible;
  position: absolute;
  top: 95%;
  border: 1px solid white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  font-family: "Open Sans Semibold";
  font-size: 0.9vw;
  height: 8%;
  display: inline-block;
  width: 97.9%;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: auto;
  list-style-type: none;
  z-index: 0;
}
#dropmenu a:hover{
text-shadow:  0px 0 20px rgba(255, 255, 255, 0.842);
}
#dropmenu .active {
background-image: linear-gradient(100deg, #0D65FA 1%,#0DA2CE 50%, #0dfb8c );
border-radius:20px;
background-repeat: no-repeat;
background-position: center;
background-size: 100% 100%;
padding: 0.5% 2% 0.5% 2%;
}
.menunav a {
  display: block;
  color: white;
  text-align: left;
  text-decoration: none;
  float: left;
  margin-left:2%;
  margin-right:2%;
  background-size: 100% 100%;
  padding: 1% 1%;
  border-radius:20px;
  margin-top: 1%;
}

#dropmenu .dropmenu-content {
display: flex;
flex-direction: column;
margin-left: 5%;
}

 
@media only screen and (max-width: 1482px) {
  html {
      height: 3300px;
  }
  body {
      height: 3000px;
  }
  
  .menunav {
      visibility: visible;
  
  }
  #menu {
    visibility: visible;
    opacity: 1;
    display: flex;
  }
   
  .navbar {
      visibility: hidden;
  }
  
  .important {
    visibility: hidden;
  }
  
  .dates {
    visibility: hidden;
  }
  
      .theme{
        margin-top: 10%;
        height: 16%;
      }

      .footerr{
        height: 75%;
      }

        .homey{
          top: 12%;
        }
      
        .work {
          top: 12%;
        }
      
        .imp {
          top: 12%;
        }
      
        .sub {
          top: 12%;
        }
      
        .con {
          top: 12%;
          }
          img {
            margin-top: 0%;
          }
      
        .reg {
          margin-top: 25%;
        }
      
        hr {
          margin-top: 35%;
        }
      
        #creds{
          margin-top: 2%;
        }

}

@media only screen and (max-width: 1424px) {
  html {
      height: 3300px;
  }
  body {
      height: 3000px;
  }

  .menunav {
      visibility: visible;

  }
  #menu {
    visibility: visible;
    opacity: 1;
    display: flex;
  }

  .navbar {
      visibility: hidden;
  }

  .important {
    visibility: hidden;
  }

  .dates {
    visibility: hidden;
  }

      .theme{
        margin-top: 10%;
        height: 16%;
      }

      .footerr{
        height: 75%;
      }

        .homey{
          top: 12%;
        }

        .work {
          top: 12%;
        }

        .imp {
          top: 12%;
        }

        .sub {
          top: 12%;
        }

        .con {
          top: 12%;
          }
          img {
            margin-top: 0%;
          }

        .reg {
          margin-top: 25%;
        }

        hr {
          margin-top: 35%;
        }

        #creds{
          margin-top: 2%;
        }

}

@media only screen and (max-width: 1056px) {
  html {
      height: 3300px;
  }
  body {
      height: 3000px;
  }

  .menunav {
      visibility: visible;

  }
  #menu {
    visibility: visible;
    opacity: 1;
    display: flex;
  }

  .navbar {
      visibility: hidden;
  }

  .important {
    visibility: hidden;
  }

  .dates {
    visibility: hidden;
  }

      .theme{
        margin-top: 10%;
        height: 16%;
      }

      .footerr{
        height: 75%;
      }

        .homey{
          top: 12%;
        }

        .work {
          top: 12%;
        }

        .imp {
          top: 12%;
        }

        .sub {
          top: 12%;
        }

        .con {
          top: 12%;
          }
          img {
            margin-top: 0%;
          }

        .reg {
          margin-top: 25%;
        }

        hr {
          margin-top: 35%;
        }

        #creds{
          margin-top: 2%;
        }

}