html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    margin: 0;
    height: 3800px;
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #0D65FA;
    background-image: linear-gradient(to bottom right, #0056E6, #00A6B8, #00BB64);
}
header {
  overflow: hidden;
}
p {
  color: white;
}
.logo {
  width: 10%;
  height: 70%;
  float: left;
  margin-top: 1%;
}

div {
    width: auto;
}
nav {
  margin-left:9.1%;
  margin-right: 8.85%;
}
.navbar {
    background-image: linear-gradient(to right, #0d50c4, #10a8b9, #1ec577);
    list-style-type: none;
    overflow: visible;
    position: fixed;
    margin-top: 5%;
    border: 1px solid white;
    border-radius: 30px;
    padding-left: 1%;
    padding-right: 1%;
    font-family: "Open Sans Semibold";
    font-size: 0.9vw;
    z-index : 10000;
    height: 8%;
    display: inline-block;
    width: 80%;
}

.navbar .active {
  background-image: linear-gradient(100deg, #0D65FA 1%,#0DA2CE 50%, #0dfb8c );
}

  .navbar a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    float: left;
    margin-left:2%;
    margin-right:2%;
    margin-top: 1.2%;
    background-size: 100% 100%;
    padding: 5px 15px 5px 15px;
    border-radius:20px;
  }

  .navbar a.def:hover {
    text-shadow:  0px 0 20px rgba(255, 255, 255, 0.842);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    text-align: center;
    text-decoration: none;
    float: left;
    margin-left:2%;
    margin-right:2%;
    margin-top: 1.2%;
    background-size: 100% 100%;
    padding: 5px 15px 5px 15px;
  }
 
.dropdown {
    float: left;
    overflow: hidden;
    margin-top: 1.1%;
    padding-right: 0.3%;
  }
  .dropdown:hover .dropdown-content, .dropdown:hover .dropdown-content1{
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s;
  }

  .arrow-down {
    display:inline-block;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid rgba(218, 218, 218, 0.521);
    position: absolute;
    margin-top: 0.7%;
    margin-left: 0.5%;
  }

  .dropdown:hover .arrow-down {
    display:inline-block;
    width: 0; 
    height: 0; 
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 3px solid white;
    vertical-align: middle;
    margin-top: 0.7%;
    margin-left: 0.5%;
  }

  
  .dropdown-content {
    background-image: linear-gradient(to right, #ffffff3b, #8080800c);
    width: 10%;
    z-index: 1;
    left: 19%;
    content: "";
    height: 0; 
    position: absolute;
    color: white;
    transition-delay: 1s;
    position: absolute;
    top: 130%;
    display: block;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity, visibility;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;
    }

    .second {
      left: 37.5%;
    }
  
.dropdown-content a {
    float: none;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    text-align: center;
    border: 1px solid white;
    margin: 0;
  }

.dropdown-content a:first-child{
    border-radius: 20px 20px 0 0;
  }

.dropdown-content a:last-child{
    border-radius: 0 0 20px 20px;
  }
  
.dropdown-content:before{
    border-bottom: 11px solid rgb(255, 255, 255);
    border-left: 11px solid rgba(255, 255, 255, 0);
    border-right: 11px solid rgba(255, 255, 255, 0);
    content: "";
    display: inline-block;
    position: absolute;
    left: 100%;
    margin-left: -57%;
    top: -11px;
}

.dropdown-content:after {
    border-bottom: 11px solid linear-gradient(to right, #ffffff3b, #8080800c);
    border-left: 11px solid rgba(0, 0, 0, 0);
    border-right: 11px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    position: absolute;
    left: 100%;
    margin-left: -59%;
    top: -10px;
}

.dropdown .dropdown-content a:hover {
    text-shadow:  0px 0 20px rgba(255, 255, 255, 0.842);
  }

.dropdown:hover .dropdown-content {
    display: block;
  }
#register {
  position: absolute;
  margin-left: 88%;
}

.dates {
  position: fixed;
  background: url(images/date1.svg);
  display: inline-block;
  width: 10%;
  height: 8%;
  color: white;
  margin-left: 1%;
  background-repeat: no-repeat;
   transition: 0s;
  background-size: 100% 100%;

  animation-name: slide;
  animation-direction: alternate;
  animation-duration: 5s;
  animation-fill-mode: normal;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;

}
@keyframes slide{
  0%{
    background-image: url(/images/date2.svg);
    background-size: 100% 100%;
    width: 20%;
  }
  25%{
    background-image: url(/images/date3.svg);
    background-size: 100% 100%;width: 20%;
  }
  50%{
    background-image: url(/images/date4.svg);
    background-size: 100% 100%;width: 20%;
  }
  75%{
    background-image: url(/images/date5.svg);
    background-size: 100% 100%;width: 20%;
  }
  100%{
    background-image: url(/images/date1.svg);
    background-size: 100% 100%;width: 20%;
  }
}

  .datelist {
    position: fixed;
    width: 20%;
    height: 90%;
    color: white;
    margin-top: 0.3%;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    opacity: 0;
    visibility: hidden;

    left: 55%;
  }

  .datelist a {
    width: 66.5%;
  }

  .important:hover .datelist,.important:hover a {
    display: inline-block;
    opacity: 1;
    transition-property: opacity, visibility;
    transition-duration: .4s, 0s;
    transition-delay: 0s, 0.4s;
    visibility: visible;
    
  }

  .datelist img {
    width: 100%;
    height: 100%;
    margin-top: 5%;
    opacity: 0;
    z-index: 1000;
    margin-left: 13%;
    visibility: hidden;
  }

  .dlist {
      margin-top: 25%;
  }

  .important:hover .dates{
    opacity: 0;
    position: absolute;
    background: none;
    display: inline-block;
    color: white;
    animation-name: none;
    transition-property: opacity,visibility;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;
  }

  .important:hover .datelist a{
    display: inline-block;
    margin-top: 3.8%;
    margin-left: 24%;
    opacity: 1;
    transition-property: opacity;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;
    visibility: visible;
   }

  .important:hover .datelist img{
    display: inline-block;
    opacity: 1;
    transition-property: opacity;
    transition-duration: .4s, 0s;
    transition-delay: 0s, .4s;
    visibility: visible;
  }

  .dlist img:hover{
    box-shadow:  0px 0 20px rgba(255, 255, 255, 0.473);
    border-radius: 15px;
  }

  .banner{
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur( 40px );
    -webkit-backdrop-filter: blur( 40px );
    border: 1px solid white;
    height: 18%;
    margin-left:9.1%;
    margin-right: 8.85%;
    margin-top: 5%;
    border-radius: 25px;
    }

    footer{
        margin-top: 10%;
        height: 20%;
        margin-left:9.1%;
        margin-right: 8.85%;
      }
  
      .footerr{
        height: 65%;
        margin: 0;
        margin-top: 15%;
      }

      div.footer p, .footer a{
        font-family: "Open Sans Semibold";
        color: white;
        line-height: 110%;
        font-size: 1vw;
        text-decoration: none;
        }
      
        .title {
          font-size: "Open Sans";
          color: white;
          font-weight: normal;
        }
      
        .home{
          position: absolute;
          left: 5%;
          top: 10%;
        }
      
        .work {
          position: absolute;
          left: 25%;
          top: 10%;
        }
      
        .imp {
          position: absolute;
          left: 45%;
          top: 10%;
        }
      
        .sub {
          position: absolute;
          left: 65%;
          top: 10%;
        }
      
        .con {
          position: absolute;
          left: 83%;
          top: 10%;
          right: 5%;
          }
          img {
            margin-left: 0;
            margin-top: 10%;
          }
      
        #fb {
          width: 8%;
          margin-right: 10%;
        }
      
        #twt {
          width: 16%;
        }
      
        .reg {
          position: absolute;
          left: 5%;
          margin-top: 23%;
        }
      
        hr {
          border: 0.6px solid rgba(255, 255, 255, 0.733);
          margin-left: 5%;
          margin-right: 5%;
          margin-top: 33%;
        }
      
        #creds{
          font-size: 0.8vw;
          text-align: center;
          margin-top: 2.5%;
          margin-bottom: 5%;
        }
        h2 {
          font-family: "Source Code Pro";
          font-weight: bold;
          font-size: 3.5vw;
          color: white;
          text-align: center;
          margin-top: 18%;
          }
          .day1 h5,.day2 h5 {
            font-family: "Source Code Pro";
            font-weight: bold;
            font-size: 1.5vw;
            color: white;
            text-align: center;
            margin-top: 5%;
          }
          .day1 #subtitle,.day2 #subtitle {
            font-family: "Source Code Pro";
            font-weight: bold;
            font-size: 0.9vw;
            color: white;
            text-align: center;
            margin-top: 0.5%;
          }
.sched {
  display: inline-flex;
  margin-left: auto;
  width: 100%;
}

.day1, .day2 {
  width: 100%;
  height: 20%;
}

.day1 #line {
  border: 2px solid rgba(255, 255, 255, 0.411);
  height: 2000px;
  background-color: rgba(255, 255, 255, 0.726);
  margin-left: 50%;
  position: absolute;
  margin-top: 15%;
}
.day2 #line {
  border: 2px solid rgba(255, 255, 255, 0.411);
  height: 1460px;
  background-color: rgba(255, 255, 255, 0.726);
  margin-left: 50%;
  position: absolute;
  margin-top: 15%;
}
.day1 div, .day2 div {
  display: flex;
  margin-bottom: 20%;
  margin-top: 15%;
}

.day1 #stxt,.day2 #stxt {
  font-family: "Open Sans";
  font-size: 0.9vw;
  color: white;
  text-align: center;
  margin-top: 2%;
  margin-left: 21%;
}

.day1 #stxt1,.day2 #stxt1 {
  font-family: "Open Sans";
  font-size: 0.9vw;
  color: white;
  text-align: center;
  margin-top: 2%;
  margin-left: 30%;
  vertical-align: middle;
}

.day1 #box, .day2 #box  {
  width: 5%;
  margin-top: 2%;
  margin-left: 47.9%;
  position: absolute;
}
          
          
.menunav {
  visibility: hidden;
  overflow: visible;
  position: fixed;
  z-index : 10000;
  top: 13%;
  width: 81.9%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 10%;
  background-image: linear-gradient(to right, #0d50c4, #10a8b9, #1ec577);
  list-style-type: none;
  border: 1px solid white;
}
#menu {
visibility: hidden;
opacity: 0;
width: 3%;
height: 70%;
float: right;
margin-top: 0.9%;
padding-right:5%;
display: none;
}
#menu1 {
visibility: hidden;
width: 2%;
height: 70%;
float: right;
margin-top: 0.7%;
padding-right: 0%;
}
#dropmenu {
background-image: linear-gradient(to right, #0d50c417, #10a8b96c, #1ec57731);
  backdrop-filter: blur( 40px );
  -webkit-backdrop-filter: blur( 40px );
  visibility: hidden;
  overflow: visible;
  position: absolute;
  top: 95%;
  border: 1px solid white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  font-family: "Open Sans Semibold";
  font-size: 0.9vw;
  height: 8%;
  display: inline-block;
  width: 97.9%;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: auto;
  list-style-type: none;
  z-index: 0;
}
#dropmenu a:hover{
text-shadow:  0px 0 20px rgba(255, 255, 255, 0.842);
}
#dropmenu .active {
background-image: linear-gradient(100deg, #0D65FA 1%,#0DA2CE 50%, #0dfb8c );
border-radius:20px;
background-repeat: no-repeat;
background-position: center;
background-size: 100% 100%;
padding: 0.5% 2% 0.5% 2%;
}
.menunav a {
  display: block;
  color: white;
  text-align: left;
  text-decoration: none;
  float: left;
  margin-left:2%;
  margin-right:2%;
  background-size: 100% 100%;
  padding: 1% 1%;
  border-radius:20px;
  margin-top: 1%;
}

#dropmenu .dropmenu-content {
display: flex;
flex-direction: column;
margin-left: 5%;
}




@media only screen and (max-width: 1482px) {
  html {
      height: 3800px;
  }
  body {
      height: 3500px;
  }
  
  .menunav {
      visibility: visible;
  
  }
  #menu {
    visibility: visible;
    opacity: 1;
    display: flex;
  }
  
  .navbar {
      visibility: hidden;
  }
  
  .important {
    visibility: hidden;
  }
  
  .dates {
    visibility: hidden;
  }
  
      .theme{
        margin-top: 10%;
        height: 16%;
      }

      .footerr{
        height: 67%;
      }
      
        #footer {
          margin-top: 37%;
        }
      
        #creds{
          margin-top: 2%;
        }
        .day1 #line {
          height: 1920px;
        }

        .day2 #line {
          height: 1400px;
        }
}    